.cover {
/*   width: 350px;
  height: 500px; */
  /* finish your styling of the cover div here! */
  text-align: center;
/*   font-family: 'Bitter', serif; */
  font-family: 'Roboto', sans-serif;
}
#title {
  font-size: 4em;
}

#subtitle {
  font-size: 2em;
  color: cyan;
  opacity: .8;
  font-style: italic;
}

#cover_image {
    width: 80%;
    height: auto;
  opacity: .7;
}

body {
  background-color: #aaaaaa;
}