.cover {
/*   width: 350px;
  height: 500px; */
  /* finish your styling of the cover div here! */
  text-align: center;
/*   font-family: 'Bitter', serif; */
}
#title {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#subtitle {
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  color: cyan;
  opacity: .8;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 180px;
}

#cover_image {
    width: 80%;
    height: auto;
  opacity: .7;
}

body {
  background-color: #aaaaaa;
}