/*
Color reference: https://www.w3schools.com/html/html_colors.asp 
color options: 
  color: teal;
  color: #B2DFDB;
  color: rgb(128,203,196); 
*/


/* font-family for text
font-family: "Gill Sans", sans-serif; */
  /* This means try to use Gill Sans, but if you can't find that, then just use the default sans

/*
GOOGLE FONTS
load in the font from google fonts at the top of the stylesheet
@import url('https://fonts.googleapis.com/css?family=Economica');

Then do this inside a text element
  font-family: 'Economica', sans-serif;

Use the font (with a fallback) in the elements you want to style.
*/

/* use background-color to add a color */
body {
}

