/* use background-color to add a color */
/*
Color reference: https://www.w3schools.com/html/html_colors.asp 
color options: 
  color: teal;
  color: #B2DFDB;
  color: rgb(128,203,196); 
*/


font-family for text
h1 {
  font-family: "Gill Sans", sans-serif;
  /* This means try to use Gill Sans, but if you can't find that, then just use the default sans


/* use background-color to add a color */
body {
}

